<!DOCTYPE html>
<html>

<head>
   <meta charset="utf-8">
   <link type="text/css" rel="stylesheet" href="/assets/picnic.css">
   <link type="text/css" rel="stylesheet" href="/assets/jsoneditor.css">
   <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

   {% include 'navbar.html' %}
   
   <div>
   <h1>Random Changes</h1>
   <div class="flex demo">
      <div style="width: 1%;"><span>
            <form method="get" id="myForm" action='multi_gradient/'>
               <input type="number" id="colours" name="colours" value="4" max="6" min="2">
               <input class="submit" type="submit" value="Colour Gradient">
            </form>
         </span></div>
      <div><span>
            <form method="get" id="myForm" action='single_colour/'>
               <input class="submit" type="submit" value="Single Colour">
            </form>
         </span></div>
      <div><span>
            <form method="get" id="myForm" action='single_gradient/'>
               <input class="submit" type="submit" value="Single Gradient">
            </form>
         </span></div>
      <div><span>
            <form method="get" id="myForm" action='change_effect/'>
               <input class="submit" type="submit" value="Effect & Colour">
            </form>
         </span></div>
      <div><span>
            <form method="get" id="myForm" action='random_preset/'>
               <input class="submit" type="submit" value="Random Preset">
            </form>
         </span></div>
         <div><span>
            <form method="get" id="myForm" action='effects/store_preset/'>
               <button class="warning" type="submit">Store Preset</button>
            </form>
         </span></div>
   </div>
</div>


</body>

</html>