<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta http-equiv="refresh" content="3; url=/presets_list">
      <link type="text/css" rel="stylesheet" href="/assets/picnic.css">
      <link type="text/css" rel="stylesheet" href="/assets/jsoneditor.css">
      <meta name="viewport" content="width=device-width, initial-scale=1">
   </head>
   <body>

    {% include 'navbar.html' %}
    
      <h1>{{ completed_action }} - Effect {{ effect_id }}</h1>
      
      <div class="jsoneditor-field">{{data}}</div>
   </body>
</html>


