<div style="overflow: hidden;height: 80px;">
    <nav class="demo">
    <a href="/" class="brand">
      <span>Led FX Controller</span>
    </a>
  
    <!-- responsive-->
    <input id="bmenub" type="checkbox" class="show">
    <label for="bmenub" class="burger pseudo button">menu</label>
  
    <div class="menu">
      <a href="/sonos" class="button">Sonos</a>
      <a href="/" class="button">Random Changes</a>
      <a href="/presets_list" class="button">Preset List</a>
      <a href="/settings" class="button">Settings</a>
    </div>
  </nav>
</div>