<!DOCTYPE html>
<html>

<head>
   <meta charset="utf-8">
   <meta http-equiv="refresh" content="5">
   <link type="text/css" rel="stylesheet" href="/assets/picnic.css">
   <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

   {% include 'navbar.html' %}

   <div style="text-align: center;">

    <h1>Now Playing...</h1>

    <div class="stack" style="text-align: center;"><strong>Song: </strong>{{ sonos_title }}</div>
    <div class="stack" style="text-align: center;"><strong>Artist: </strong>{{ sonos_artist }}</div>

    {% if sonos_album %}
    <div class="stack" style="text-align: center;"><strong>Album: </strong>{{ sonos_album }}</div>
    {% endif %}

    <!-- <img src="{{ sonos_album_art }}"> -->

    {% if sonos_active %}
    <div class="stack" style="text-align: center;"><strong> Auto Preset: </strong><span class="label success">Active</span></div>
    {% else %}
    <div class="stack" style="text-align: center;"><strong> Auto Preset: </strong><span class="label error">Inactive</span></div>
    {% endif %}
</div>
</body>